h1 {
  text-align: center;
}

.content {
  display: flex;
}

.App .buttons {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.Button {
  line-height: 2em;
  padding: 0.2em 0.6em;
  background: #62982b;
  color: #fff;
  font-size: 24px;
  margin: 5px;
}

.Button[disabled] {
  background: #b5aaa875;
  color: #9c8a83;
}

.State {
  padding: 2em;
  width: 250px;
  overflow: hidden;
}
