h1 {
  text-align: center;
}

.content {
  display: flex;
}

.App .buttons {
}

.Button {
  line-height: 2em;
  padding: 1em;
}

.State {
  padding: 2em;
  border-right: 1px solid;
  width: 250px;
  overflow: hidden;
}
